GROUP_ID_1=
GAME_MODE_1=individual
GAME_WEEKDAY_1=sabado
GAME_TIME_1=20h às 23h
PRICE_1=R$ 12,00
PIX_KEY_1=
PIX_NAME_1=

GROUP_ID_2=
GAME_MODE_2=duplas
GAME_WEEKDAY_2=quarta
GAME_TIME_2=20h às 22h
PRICE_2=R$ 16,00
PIX_KEY_2=
PIX_NAME_2=

SCHEDULE=0 9 * * 0
TIMEZONE=America/Fortaleza
POLL_DEBOUNCE_SECONDS=5
